body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
}

.header-list {
  line-height: 1.5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address .header-link {
  color: #434455;
}

.header-link:focus,
.header-link:hover,
.header-link:active {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.web-span {
  color: #2e2f42;
}

.web-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 4%;
}

.header-one {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  color: #ffffff;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

p {
  line-height: 14px;
  letter-spacing: 4%;
  color: #8e8f99;
}

.main-visit-button {
  cursor: pointer;
}

.main-visit-button:focus {
  background-color: #404bbf;
}

.main-visit {
  background-color: #2e2f42;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.main-visit-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.main-visit-button:hover,
.main-visit-button:active {
  background-color: #404bbf;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
}

.footer {
  background-color: #2e2f42;
}

.footer .text {
  color: #f4f4fd;
}

.footer .wep-span {
  color: #f4f4fd;
}
