body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.inform-images {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  padding: 24px 100px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.header-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav,
.header-address {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  position: relative;
}

.active-page {
  color: #404bbf;
}

.active-page::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

.nav-link:hover:after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

.header-address .header-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:focus,
.header-link:hover,
.header-link:active {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-list,
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.web-span {
  color: #2e2f42;
}

.web-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  margin-right: 76px;
}

a {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 4%;
}

.header-one {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  color: #ffffff;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0;
}

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0;
}

.header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0;
}

.inform-list,
.team-list,
.portfolio-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 24px;
}

.main-visit {
  max-width: 1440px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 188px 0;
  margin: 0 auto;
}

.main-visit .header-one {
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.main-visit-button {
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 32px;
  border-color: #4d5ae5;
  height: 56px;
  display: block;
  min-width: 169px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-visit-button:hover,
.main-visit-button:active,
.main-visit-button:focus {
  background-color: #404bbf;
  border-color: #404bbf;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}

.inform {
  padding: 120px 0;
  margin-right: 0;
}

.inform-item {
  width: calc((100% - 72px) / 4);
}

.inform .header-three {
  margin-bottom: 8px;
}

.team-list .header-three {
  text-align: center;
  margin-bottom: 8px;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team .header-two {
  margin-bottom: 72px;
}

.team-item {
  background-color: #ffffff;
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name {
  padding: 32px 0;
}

.team-name .header-three {
  text-align: center;
  margin-bottom: 8px;
}

.team-name .text {
  text-align: center;
  margin-bottom: 8px;
}

.social-list {
  gap: 24px;
}

.social-list,
.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.footer-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link,
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.portfolio {
  padding: 120px 0 120px 0;
}

.portfolio .header-two {
  margin-bottom: 72px;
}

.portfolio-list {
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.help-portfolio-container {
  margin: 0;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.overlay {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.overlay-text {
  display: block;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: none;
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgb(46, 47, 66, 0.08),
    0 1px 1px 0 rgb(46, 47, 66, 0.16), 0 1px 6px 0 rgb(46, 47, 66, 0.08);
}

.portfolio .portfolio-name {
  padding: 32px 16px;
  margin-left: 0;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-name .header-three {
  margin-bottom: 8px;
}

.protfolio-item {
  width: calc((100% - 48px) / 3);
}

.footer {
  background-color: #2e2f42;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: left;
}

.footer-social-container {
  margin-right: 80px;
}

.footer-info {
  margin-right: 120px;
}

.footer-text {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
  font-size: 16px;
}

.modal-text {
  text-align: center;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 16px;
  font-size: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-list {
  gap: 16px;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer .web-span {
  color: #f4f4fd;
}

.logo-footer {
  margin-right: 0;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.email-input::placeholder {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.email-input {
  background-color: unset;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
}

.footer-form-text {
  margin: 0;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
}

.footer-form-button {
  border: none;
  border-radius: 4px;
  display: flex;
  background-color: #4d5ae5;
  padding: 8px 24px;
  gap: 16px;
}

.phone {
  fill: #2e2f42;
}

.section-modal-form {
  display: none;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  border-radius: 4px;
}

.modal-form-container {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 24px;
  width: 410px;
  margin-top: 80px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  margin: 0;
  padding: 0;
}

.modal-label {
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.modal-label,
.checkbox-label {
  display: flex;
}

.checkbox-label {
  position: relative;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  align-items: center;
}

.modal-input {
  padding: 8px 38px;
}

.modal-input,
.modal-textarea {
  background-color: unset;
  border-radius: 4px;
  border: 1px solid rgb(46, 47, 66, 0.4);
  outline: none;
}

.modal-input:focus,
.modal-textarea:focus,
.modal-input:active,
.modal-textarea:active {
  border: 1px solid rgb(77, 90, 229);
}

.modal-textarea {
  resize: none;
  padding: 12px 16px;
}

.modal-textarea::placeholder {
  font-size: 12px;
  color: rgb(46, 47, 66, 0.4);
}

.checkbox-text {
  font-size: 12px;
  color: #8e8f99;
}

.privacy {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-button {
  color: #ffffff;
  border: none;
  padding: 16px 32px;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  top: 30px;
  left: 12px;
}

.upper-form {
  text-align: right;
}

.button-close {
  position: relative;
  border: 1px solid rgb(46, 47, 66, 0.1);
  padding: 0;
  cursor: pointer;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  background-color: #e7e9fc;
}

.button-close-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:active,
input:focus {
  border: none;
}

.checkbox {
  width: 16px;
  height: 16px;
  opacity: 0.1;
  position: absolute;
  top: 1px;
  left: 0;
  visibility: hidden;
}

.help-change-div {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  border-radius: 2px;
}

input[type="checkbox"] + span {
  border: 1px solid rgb(46, 47, 66, 0.4);
  border-radius: 2px;
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
 }

 input[type="checkbox"]:checked + span {
  border: 1px solid #404BBF;
  background-color: #404BBF;
 }

/* .help-change-div:hover{
  border: 1px solid #404BBF;
  background-color: #404BBF;
} */

.checkbox:checked ~ .help-change-div {
  background-color: #404bbf;
}

.is-open {
  display: block;
}

