body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}

.container {
  margin: 0;
  padding: 0 160px;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
}

.header-nav,
.header-address {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
}

.nav-link {
  font-weight: 500;
}

.header-address .header-link {
  color: #434455;
}

.header-link:focus,
.header-link:hover,
.header-link:active {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-list,
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0;
}

.web-span {
  color: #2e2f42;
}

.web-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 4%;
}

.header-one {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  color: #ffffff;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0;
}

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.inform-list,
.team-list,
.porfolio-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 24px;
}

.main-visit-button {
  cursor: pointer;
}

.main-visit-button:focus {
  background-color: #404bbf;
}

.main .container-visit {
  background-color: #2e2f42;
}

.main-visit {
  margin: 0;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.main-visit .header-one {
  max-width: 500px;
}

.main-visit-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 32px;
  border-color: #4d5ae5;
}

.main-visit-button:hover,
.main-visit-button:active {
  background-color: #404bbf;
  border-color: #404bbf;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main .inform-list {
  padding: 120px 0;
}

.team-list .header-three {
  text-align: center;
}

.main .container-team {
  background-color: #f4f4fd;
}

.team {
  padding: 120px 0;
}

.team-item {
  background-color: #ffffff;
  text-align: center;
}

.main .porfolio-list {
  flex-wrap: wrap;
}

.portfolio .container {
  padding: 0;
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.portfolio .container .header-three,
.portfolio .container .text {
  margin: 0;
}
.footer {
  background-color: #2e2f42;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 100px 0;
}

.footer .text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer .web-span {
  color: #f4f4fd;
}
